body {
    background: black;
    color: white;
}

.movie-app > .row {
overflow-x: scroll;
flex-wrap:nowrap;


}

.image-container{
    position: relative;
    transition: transform 0.2s;
    display: flex;
    
}

.image-container :hover {
    cursor: pointer;
    transform: scale(1.1);
}

.imasge-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: black;
    width: 100%;
    transition: 0.5s;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center; 
}
